# README
README.md~
.README.md.swp

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Vim
*~
*.swp
*.swo
*.bak

# Emacs
*.*~
*.*#

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
# workspace files are user-specific
*.sublime-workspace
# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# virtual environments
.env

# Cached Static files
CACHE

# Media files -- user uploaded files
# e.g ChMS_project/config/settings/media/banners/*.png
